server {
    listen ${APP_PORT};
    location / {
        root /usr/share/nginx/html;
        index index.html;
    }

    location /api/ {
        proxy_pass ${SERVER_URL}/api/;
        proxy_http_version 1.1;
    }

}
